<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'; object-src 'none';">
    <title>ZoyBlocks - home</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <noscript>
        <div style="padding: 1rem; background: #ffdddd; color: #900;">
            Este aplicativo requer JavaScript habilitado para funcionar corretamente.
        </div>
    </noscript>

    <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container-fluid">

            <a class="navbar-brand" href="">
                <!-- Depois tem que troca o chamado do relativo para o caminho absoluto -->
                <img src="../../../assets/imgs/logo_zoy.png" alt="Logo Zoy" class="logo-img" title="Zoy Blocks v0.7.0">
            </a>

            <!-- Botão Executar Código -->
            <button class="btn btn-success py-2 me-3 my-auto" id="btnExecutarCodigo" title="Clique para executar o código">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path
                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg>
            </button>
            
            <!-- Botão Abrir ZoyGPT -->
            <button id="abrirZoyGPTBtn" class="btn btn-secondary me-3 my-auto d-none d-lg-block">Abrir ZoyGPT</button>


            <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
                <ul class="navbar-nav align-items-center gap-lg-3 gap-2">
                    
                    <!-- Implementar lógica para alterar Idioma -->
                    <!-- <li class="nav-item">
                        <button class="nav-link custom-link" id="btnIdioma">
                            <span class="d-none d-lg-inline">🌎</span> Idioma
                        </button>
                    </li> -->
                    <li class="nav-item">
                        <button class="nav-link custom-link" id="btnZoyVision">
                            <span class="d-none d-lg-inline">📷</span> Zoy Vision
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link custom-link" id="btnBlocklyGames">
                            <span class="d-none d-lg-inline">🎮</span> Blockly Games
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link custom-link" id="btnZoyGames">
                            <span class="d-none d-lg-inline">🎮</span> Zoy Games
                        </button>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle custom-link" href="#" role="button"
                            data-bs-toggle="dropdown">
                            Arquivo
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" id="salvarProjeto">Salvar Projeto</a></li>
                            <li><a class="dropdown-item" href="#" id="carregarProjeto">Carregar Projeto</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="btn custom-btn" href="#" id="ajuda-link">Ajuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div id="container">
        <!-- Workspace Blockly -->
        <div id="blocklyDiv">
            <!-- Mostrar/Esconder SideBar Lado direito -->
            <button id="toggleSidebar" class="btn btn-secondary" title="Mostrar/Esconder Menu">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M8 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8" />
                </svg>
            </button>
        </div>

        <!-- SideBar Lado direito -->
        <div id="sidebarRight" class="container-fluid">

            <!-- Conexões(USB, Wifi, Bluetooth)  -->
            <div id="typeConnect">
                <!-- USB -->
                <div id="connectUSB">
                    <div class="row g-2">
                        <div class="col-4">
                            <select class="form-select custom_select w-100 py-2" id="selectPlaca">
                                <option value="" disabled selected hidden>Placa</option>
                                <optgroup label="Zoy">
                                    <option value="zoySTEAM">ZoySTEAM</option>
                                    <!-- <option value="zoyConnect">ZoyCONNECT</option> -->
                                </optgroup>
                                <optgroup label="Arduino">
                                    <option value="arduino_nano">Arduino Nano</option>
                                    <option value="arduino_uno">Arduino Uno</option>
                                    <!-- <option value="arduino_lily">Arduino Lilyad</option> -->
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-4">
                            <select id="selectPorta" class="form-select custom_select w-100 py-2"></select>
                        </div>
                        <div class="col-4">
                            <button id="btnListarPortas" class="btn btn-secondary w-100 py-2">ListarPortas</button>
                        </div>
                        <div class="col-6">
                            <select id="selectBaudrate" class="form-select custom_select w-100 py-2">
                                <option value="9600" selected>9600</option>
                                <option value="19200">19200</option>
                                <option value="38400">38400</option>
                                <option value="57600">57600</option>
                                <option value="115200">115200</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <button id="btnConectar" class="btn btn-warning w-100 py-2">Conectar</button>
                        </div>
                        <!-- Toast sutil (topo central) -->
                        <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-4 mt-5">
                            <div id="statusToast" class="toast align-items-center text-bg-light border-0 p-2 w-auto" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="d-flex align-items-center justify-content-center">
                                <div id="statusToastIcon" class="me-2"></div>
                                <div id="statusToastMensagem" class="fw-semibold"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Wifi -->
                <!-- <div id="connectWifi">
                    <div class="row g-2">
                        <div class="col-12">
                            <h6 class="text-muted">IP da Placa</h6>
                        </div>
                        <div class="col-6">
                            <input type="text" id="ipRobo" class="form-control" placeholder="ex: 192.168.1.123">
                        </div>
                        <div class="col-6">
                            <button class="btn btn-info w-100 mb-2" onclick="enviarComandoWifi()">Enviar Comando Wi-Fi</button>
                        </div>
                    </div>
                </div> -->

                <!-- Bluetooth -->
                <!-- <div id="connectBluetooth"></div> -->
            </div>


            <!-- Carrosel de Imagens -->
            <div id="carouselZoy" class="carousel slide text-center mt-3">
                <div class="carousel-inner" id="carouselInner">
                    <!-- Os itens(imgs) serão adicionados via JS -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselZoy" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselZoy" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>

            <!-- Area de Código -->
            <div class="mt-3">
                <h6 class="text-muted">Area de Código</h6>
                <pre id="areaCodigo"># Código JavaScript aparecerá aqui</pre>
            </div>

            <!-- Terminal completo -->
            <div class="mt-3">
                <div class="terminal-header">
                    <h6 class="text-muted">Terminal de Comunicação</h6>
                    <div id="terminal"></div>
                    <div class="terminal-controles">
                        <button class="btn btn-sm btn-info" id="abrirTerminalCompletoBtn">Terminal Completo</button>
                        <button class="btn btn-sm btn-danger" id="limparTerminalBtn">Limpar Terminal</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal de substituição do prompt() para variaveis, a função original violava os principios de seguraçãos do electron + CSP -->
        <div class="modal fade" id="variablePromptModal" tabindex="-1" aria-labelledby="variableModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="variableModalLabel">Criar Variável</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="variablePromptText">Nome da nova variável:</p>
                    <input type="text" class="form-control" id="variablePromptInput">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="variablePromptSave">OK</button>
                </div>
                </div>
            </div>
        </div>

        <!-- importando home.js - scripts - importações - funções-->
        <script src="home.js"></script>
</body>

</html>