<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sobre o Blockly Games</title>
  <link rel="stylesheet" href="common/common.css">
  <style>
    body {
      padding: 1em 8em;
    }
    td {
      padding: 0 1em;
    }
  </style>
</head>
<body>
  <h1><a id="back" href="/">Blockly Games</a> : Sobre</h1>

<p>Blockly Games é uma série de jogos educacionais que ensinam programação. Ele é
projetado para crianças que não tiveram experiência prévia com programação de computadores.
Ao final desses jogos, os jogadores estarão prontos para usar linguagens convencionais baseadas em texto.</p>

<table>
  <tr>
    <td>
      <img src="index/puzzle.png" height=100 width=100>
    </td>
    <td>
<p>Puzzle é uma rápida introdução às formas do Blockly e como as peças se conectam.</p>
    </td>
  </tr>

  <tr>
    <td>
      <img src="index/maze.png" height=100 width=100>
    </td>
    <td>
<p>Maze é uma introdução a laços (loops) e condicionais. Ele começa de forma simples, mas
cada nível é mais desafiador que o anterior.</p>
    </td>
  </tr>

  <tr>
    <td>
      <img src="index/bird.png" height=100 width=100>
    </td>
    <td>
<p>Bird é um mergulho profundo em condicionais. O fluxo de controle é explorado com
condições cada vez mais complexas.</p>
    </td>
  </tr>

  <tr>
    <td>
      <img src="index/turtle.png" height=100 width=100>
    </td>
    <td>
<p>Turtle é um mergulho profundo em laços. Use laços aninhados para pintar um desenho.
Depois publique sua arte para que o mundo possa ver.</p>
    </td>
  </tr>

  <tr>
    <td>
      <img src="index/movie.png" height=100 width=100>
    </td>
    <td>
<p>Movie é uma introdução a equações matemáticas. Use matemática para animar um filme.
Depois publique seu filme para que o mundo possa assistir.</p>
    </td>
  </tr>

  <tr>
    <td>
      <img src="index/music.png" height=100 width=100>
    </td>
    <td>
<p>Music é uma introdução a funções. Use funções para compor música.
Depois publique sua música para que o mundo possa ouvir.</p>
    </td>
  </tr>

  <tr>
    <td>
      <img src="index/pond-tutor.png" height=100 width=100>
    </td>
    <td>
<p>Pond Tutor apresenta programação baseada em texto. Os níveis alternam
entre blocos e JavaScript real em um editor de texto.</p>
    </td>
  </tr>

  <tr>
    <td>
      <img src="index/pond-duck.png" height=100 width=100>
    </td>
    <td>
<p>Pond é uma competição aberta para programar o pato mais inteligente.
Use blocos ou JavaScript.</p>
    </td>
  </tr>
</table>

<p>Blockly Games é um projeto do Google para incentivar os programadores de amanhã. Os
jogos são projetados para serem autodidatas e no seu próprio ritmo. Sinta-se à vontade para usar o Blockly
Games tanto dentro quanto fora da sala de aula. Todo o código é open-source; veja
o <a>site do desenvolvedor</a>
para mais informações ou para baixar arquivos zip para uso offline.</p>

<p>Desenvolvedores, professores e pais são bem-vindos para
 <a>enviar&nbsp;feedback</a>
enquanto continuamos a crescer.</p>

<p style="text-align: center; font-size: small">
  <a>Política de Privacidade do Google</a> — 
  <a>Termos de Serviço do Google</a>
</p>

<script src="common/back.js"></script>
<!-- Google Analytics -->
<!-- <script>
if (window.location.pathname.substr(-5) != '.html'){
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50448074-1', 'auto');
  ga('send', 'pageview');
}
</script> -->
<!-- End Google Analytics -->
</body>
</html>
