<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'; object-src 'none';">
  <title>Terminal Serial Completo</title>
  <link rel="stylesheet" href="terminal.css" />
  <link rel ="stylesheet" href="../../../assets/libs/bootstrap/bootstrap.min.css">
</head>

<body>
  <h2>Terminal Serial Completo</h2>
  <div id="terminal"></div>
  <div id="input-container">
    <input type="text" id="comando-input" placeholder="Digite seu comando aqui...">
    <button id="enviar-btn">Enviar</button>
  </div>
  <script src = "../../../assets/libs/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="terminal.js"></script>
</body>
</html>