<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta http-equiv="Content-Security-Policy"
    content="script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net; object-src 'self'">

  <title>Zoy Dino — Controle por Sensor Ultrassom</title>

  <link rel="stylesheet" href="dinogame.css">
  <script src="../../../../assets/libs/phaser/phaser.min.js"></script>
</head>

<body>

  <div id="scoreDisplay">Score: 0</div>
  <button id="backButton" onclick="goBack()">Voltar</button>

  <div id="game-container"></div>

  <script src="dinogame.js"></script>
</body>

</html>